<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.project.Mapper.BoardMapper">
    <insert id="createBoard" parameterType="com.exam.project.Entity.BoardEntity" useGeneratedKeys="false" keyProperty="board_id">
        INSERT into cms__board
        (name_ko)
        VALUES
            (#{nameKo})
    </insert>

    <select id="boardIdToName" resultType="String" parameterType="long">
        select
            name_ko
        FROM cms__board
        where board_id = #{boardId}
    </select>

</mapper>